@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter', sans-serif;
  font-family: 'Sora', sans-serif;
  color: #141414;
}

p {
  color: #616163;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Work Sans', sans-serif;
  color: #333333;
  background-color: #F4F6F8;
}

/* popup section */
.popup-wrapper {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 80px;
  min-width: 18.75rem;
}

.popup {
  background-color: #fff;
  height: auto;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.logo-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.set-close-div {
  display: flex;
  flex-direction: row;
  column-gap: 14px;
}

.set-close-div img {
  width: 24px;
}

.monitor-tab-div {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
}

.toggle-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #100A42;
  padding: 0.75rem;
  border-radius: 12px;
  cursor: pointer;
}

.popup-button {
  background-color: #120B48;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.875rem 1.5rem;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

/* overlay */
.overlay-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row-gap: 4px; */
}

.overlay-icon img {
  width: 1.875rem;
}

.overlay-img {
  margin-bottom: 4px;
}

.overlay-trash {
  margin-bottom: 20px;
  width: 1.875rem;
}

.overlay-icons {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 4px solid #E4E4E4;
  padding: 0.5rem 0.75rem;
  border-radius: 7.5rem;
  column-gap: 8px;
  background-color: #141414;
}

.overlay-icons p {
  color: #fff;
  font-size: 14px;
}

.image {
  width: 3.75rem;
}

.overlay-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: fit-content;
}

.overlay-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}